# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# local env files
.env
.env*.local

# logs
*.log

# typeScript
*.tsbuildinfo
next-env.d.ts

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
